version: '3'

services:
  portainer:
    image: docker.io/portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - "9443:9443"
      - "9000:9000"
    volumes:
      - /run/user/1000/podman/podman.sock:/var/run/docker.sock:ro
      - portainer_data:/data

volumes:
  portainer_data: